{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/quen0/Downloads/cours-symfony/mini-projet/src/Controller/Admin/DefaultController.php</code></li>
        <li>Your template at <code>C:/Users/quen0/Downloads/cours-symfony/mini-projet/templates/admin//default/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
