{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Method Not Allowed</h1>

    <p>
        405 : Méthode non autorisée.
    </p>
{% endblock %}