{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unauthorized</h1>

    <p>
        401 : Utilisateur non authentifié.
    </p>
{% endblock %}